/*
Color Palette:
background color: #3A3845
font color: #F7CCAC
secondary color: #C69B7B
tertiary color: #826F66
*/

/* this is a test for notes */









body {
    background-color: #3A3845;
    color: #F7CCAC;
    margin: 0;
}